.container {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 36%;
    font-family: 'Open Sans', sans-serif;
  }
  
  h3 {
    font-family: 'Poiret One', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .header{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content {
    display: flex;
  }
  
  .checkbox {
    border-bottom: 1px solid var(--lightgrey);
    padding-right: 10px;
    padding: 15px;
    padding-left: 0;
    font-family: "Open Sans", sans-serif;
  }
  
  .content:first-of-type .checkbox {
    border-top: 1px solid var(--lightgrey);
  }
  
  .ingredient {
    width: 100%;
    border-bottom: 1px solid var(--lightgrey);
    border-left: 1px solid var(--lightgrey);
    border-right: 1px solid var(--lightgrey);
    padding: 10px;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
  }
  .content:first-of-type .ingredient {
    border-top: 1px solid var(--lightgrey);
  }
  
  