<div class="flex-container">
    <ul class="flex-item-list">
        <!-- Repeatable item list -->
        <li class="flex-item">
            <a href="#">
                <img src="../../assets/images/aperatif.png" alt="Image of plat">
                <h6>apératifs</h6>
            </a>
        </li>
        <li class="flex-item">
            <a href="#">
                <img src="../../assets/images/Entrée.png" alt="Image of plat">
                <h6>entrées</h6>
            </a>
        </li>
        <li class="flex-item">
            <a href="#">
                <img src="../../assets/images/plat.png" alt="Image of plat">
                <h6>Plats</h6>
            </a>
        </li>
        <li class="flex-item">
            <a href="#">
                <img src="../../assets/images/dessert.png" alt="Image of plat">
                <h6>desserts</h6>
            </a>
        </li>
        <li class="flex-item">
            <a href="#">
                <img src="../../assets/images/accompagnement.png" alt="Image of plat">
                <h6>accompagnements</h6>
            </a>
        </li>
        <li class="flex-item">
            <a href="#">
                <img src="../../assets/images/boisson.png" alt="Image of plat">
                <h6>boissons</h6>
            </a>
        </li>
    </ul>
</div>