<div class="section__container">
    <div class="header">
      <p>TÉMOIGNAGES</p>
      <h1>Ce que nos utilisateurs disent de nous.</h1>
    </div>
    <div class="testimonials__grid">
      <div class="card">
        <span><i class="ri-double-quotes-l"></i></span>
        <p>
          C'est tellement agréable de trouver des recettes faciles et délicieuses qui sont en même temps végétariennes.
        </p>
        <hr />
        <img src="../../assets/images/person-1.jpg" alt="user" />
        <p class="name">Allan Collins</p>
      </div>
      <div class="card">
        <span><i class="ri-double-quotes-l"></i></span>
        <p>
          Cela m'a beaucoup aidé en tant qu'étudiante universitaire loin de chez moi. Les instructions sont très claires.
        </p>
        <hr />
        <img src="../../assets/images/person-2.jpg" alt="user" />
        <p class="name">Lila Everly</p>
      </div>
      <div class="card">
        <span><i class="ri-double-quotes-l"></i></span>
        <p>
          Essayer de nouveaux plats est devenu une habitude depuis que je reçois des recommandations qui correspondent à mes goûts.
        </p>
        <hr />
        <img src="../../assets/images/person-3.jpg" alt="user" />
        <p class="name">Tanya Grant</p>
      </div>
    </div>
    <div class="footer">
      <h4>Aucun régime n'est identique !</h4>
      <p>
          Notre vaste base de données de recettes, associée à vos besoins personnels, nous permet de créer une expérience culinaire spécialement adaptée à vous.
      </p>
      <button>S'INSCRIRE</button>
    </div>
  </div>