<div class="container">
    <div class="type">
        <h5>type</h5>
        <p>{{type}}</p>
    </div>
    <div class="tmps_preparation">
        <h5>temps de préparation</h5>
        <p>{{tmps_preparation}}</p>
    </div>
    <div class="tmps_cuisson">
        <h5>temps de cuisson</h5>
        <p>{{tmps_cuisson}}</p>
    </div>
    <div class="difficulte">
        <h5>difficulté</h5>
        <p>{{difficulte}}</p>
    </div>
    <div class="nb_personne">
        <h5>nombre de parts</h5>
        <p>{{nb_personne}}</p>
    </div>
</div>
<hr>