<section class="about-us">
    <div class="main-img">
        <img src="../../assets/images/cooking.jpg" alt="">
    </div>
    <div class="text">
        <h4>A propos de nous</h4>
        <h1>Nous garantissons votre succès Culinaire. Notre passion est de vous aider</h1>
        <hr>
        <p>
            Notre site propose une grande variété de recettes, allant des entrées aux desserts, en passant par les
            plats principaux et les accompagnements. Nous offrons également des recettes adaptées à divers régimes
            alimentaires, y compris végétariens, végétaliens et sans gluten.
        </p>
        <div class="last-text">
            <div class="text1">
                <h3>2500+</h3>
                <h5>Recettes</h5>
            </div>
            <div class="text2">
                <h3>500+</h3>
                <h5>Utilisateurs</h5>
            </div>

        </div>
    </div>
</section>
