<div class="container">
    <div class="slider">
        <div class="list">
            <div class="item">
                <img src="../../assets/images/hero1.jpg" alt="image-recette">
            </div>
            <div class="item">
                <img src="../../assets/images/hero2.jpg" alt="image-recette">
            </div>
            <div class="item">
                <img src="../../assets/images/hero3.jpg" alt="image-recette">
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
    </div>
    <div class="overlay">
        <div class="txt">
            <h5>Bienvenue</h5>
            <h3>Votre prochaine aventure culinaire commence dès maintenant</h3>
            <hr>
            <p>Découvrez des plats délicieux et faciles à préparer pour ravir vos papilles.</p>
        </div>

    </div>
</div>
