<app-navbar></app-navbar>

<div *ngIf="recipe">
    <app-recipe-title [title]="recipe?.nom"></app-recipe-title>
    <app-recipe-image [imageString]="recipe.image"></app-recipe-image>
    <app-recipe-description [description]="recipe?.description"></app-recipe-description>
    <app-recipe-information [type]="recipe.type" [tmps_preparation]="recipe.tmps_preparation"
        [tmps_cuisson]="recipe.tmps_cuisson" [difficulte]="recipe.difficulte"
        [nb_personne]="recipe.nb_personne"></app-recipe-information>
        <app-recipe-instructions></app-recipe-instructions>
        <app-recipe-ingredients ></app-recipe-ingredients>
    <app-recipe-properties [propertiesString]="recipe?.propriete"></app-recipe-properties>

</div>
