<div class="container">
    <h1>Instructions</h1>
    <div class="instructions">
        <div class="counter">1.</div>
        <div class="instruction">Déroulez votre pâte feuilletée et coupez là afin de former 16 triangles. Si votre
            pâte est carrée ou rectangulaire, coupez-la dans le sens de la longueur. Dans chacune des parties,
            découpez votre pâte de haut en bas, en faisant des zig-zag, afin de former des triangles.</div>
    </div>
    <div class="instructions">
        <div class="counter">2.</div>
        <div class="instruction">Déposer environ 1 cuillère à café de sauce tomate sur la base de chaque triangle.
        </div>
    </div>
    <div class="instructions">
        <div class="counter">3.</div>
        <div class="instruction">Couper la tranche de jambon en 16 carrés et les disposer sur la sauce tomate.
            Saupoudrer de mozzarella râpée et d'un peu d'origan.</div>
    </div>
    <div class="instructions">
        <div class="counter">4.</div>
        <div class="instruction">Enroulez chaque triangle en partant de l'extérieur et en allant vers le centre.
        </div>
    </div>
    </div>

